name: Caddy Build

on:
  workflow_dispatch:
  schedule:
    - cron: 30 19 * * 1

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '>=0.0.0'
        check-latest: true
    
    - name: Remove Odd Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release delete "master_branch" --yes --cleanup-tag
        
    - name: Clean workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        token: ${{ github.token }}
        repository: ${{ github.repository }}
        retain_days: 30
        keep_minimum_runs: 2
    
    - name: Build
      run: |
        go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
        ~/go/bin/xcaddy build master --with github.com/caddyserver/forwardproxy@caddy2=github.com/klzgrad/forwardproxy@naive
        chmod +x caddy
        #XZ_OPT='-T0 -e -v' tar cvfa caddy_linux_amd64.tar.xz caddy
        ZSTD_CLEVEL=19 tar cvfa caddy_linux_amd64.tar.zst caddy
        rm caddy

        export GOARCH=amd64 GOOS=freebsd
        go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
        ~/go/bin/xcaddy build master --with github.com/caddyserver/forwardproxy@caddy2=github.com/klzgrad/forwardproxy@naive
        chmod +x caddy
        ZSTD_CLEVEL=19 tar cvfa caddy_freebsd_amd64.tar.zst caddy
        
        
        export GOARCH=amd64 GOOS=windows
        ~/go/bin/xcaddy build master --with github.com/caddyserver/forwardproxy@caddy2=github.com/klzgrad/forwardproxy@naive --output ./caddy.exe
        #XZ_OPT='-T0 -e -v' tar cvfa caddy_windows_amd64.tar.xz caddy.exe
        #ZSTD_CLEVEL=19 tar cvfa caddy_windows_amd64.tar.zst caddy.exe
        zip -9 caddy_windows_amd64.zip caddy.exe
        
    - name: Output
      uses: actions/upload-artifact@v4
      with:
          name: Caddy
          path: |
            caddy_linux_amd64.tar.zst
            caddy_windows_amd64.tar.zst
          if-no-files-found: error
    
    - name: Get Current Date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
    
    - name: Get Caddy Version
      id: cv
      run: |
        echo "cv=$(./caddy version | awk '{print $1}')" >> $GITHUB_OUTPUT
        echo "gv=$(go version | awk '{print $3}')" >> $GITHUB_OUTPUT
    
    - name: Release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: Caddy ${{ steps.cv.outputs.cv }} with ${{ steps.cv.outputs.gv }}
        tag_name: master_branch
        prerelease: true
        files: |
          caddy_linux_amd64.tar.zst
          caddy_windows_amd64.zip
          caddy_freebsd_amd64.tar.zst
          
    - name: Delete Artifacts
      uses: geekyeggo/delete-artifact@v5
      with:
        name: |
          Caddy

