name: Caddy Stable Build

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          check-latest: true

      - name: Build Binaries
        id: build_info
        run: |
          go install github.com/caddyserver/xcaddy/cmd/xcaddy@latest
          
          XCADDY_LDFLAGS="-s -w" ~/go/bin/xcaddy build --with github.com/caddyserver/forwardproxy@caddy2=github.com/klzgrad/forwardproxy@naive --with github.com/mholt/caddy-l4
          chmod +x caddy
          ZSTD_CLEVEL=19 tar cvfa caddy_linux_amd64.tar.zst caddy
          
          echo "cv=$(./caddy version | awk '{print $1}')" >> $GITHUB_OUTPUT
          echo "gv=$(go version | awk '{print $3}')" >> $GITHUB_OUTPUT
          
          export GOARCH=amd64 GOOS=windows
          XCADDY_LDFLAGS="-s -w" ~/go/bin/xcaddy build --with github.com/caddyserver/forwardproxy@caddy2=github.com/klzgrad/forwardproxy@naive --with github.com/mholt/caddy-l4 --output ./caddy.exe
          zip -9 caddy_windows_amd64.zip caddy.exe


      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          pull: true
          platforms: linux/amd64
          tags: |
            ghcr.io/${{ github.repository_owner }}/caddy:latest
            ghcr.io/${{ github.repository_owner }}/caddy:${{ steps.build_info.outputs.cv }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Get Current Date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: Caddy ${{ steps.build_info.outputs.cv }} (Go ${{ steps.build_info.outputs.gv }})
          tag_name: ${{ steps.date.outputs.date }}-v${{ steps.build_info.outputs.cv }}
          files: |
            caddy_linux_amd64.tar.zst
            caddy_windows_amd64.zip
